<?xml version="1.0"?>
<config>
	<bot>
		<nick>rcbot</nick>
		<password>pw</password>
		<server>chat.freenode.org</server>
		<channel>#StoopTest</channel>
		<redditpreview>false</redditpreview>
		<newusergreeting>false</newusergreeting>
		<calendar>false</calendar>
		<calendarurl>https://www.google.com/calendar/feeds/redditstlouis%40gmail.com/public/full</calendarurl>
		<dice>false</dice>
		<catfacts>false</catfacts>
		<dadjokes>false</dadjokes>
		<dadjokechance>1</dadjokechance>
		<logger>true</logger>
		<admin>recursivechaos</admin>
		<rcrover>false</rcrover>
	</bot>
	<!-- 
	<bot>
		<nick>rcbot2</nick>
		<password>password1</password>
		<server>chat.freenode.org</server>
		<channel>#StoopTest</channel>
		<redditpreview>true</redditpreview>
		<newusergreeting>true</newusergreeting>
		<calendar>true</calendar>
		<calendarurl>https://www.google.com/calendar/feeds/redditstlouis%40gmail.com/public/full</calendarurl>
		<dice>true</dice>
		<catfacts>true</catfacts>
		<dadjokes>true</dadjokes>
		<dadjokechance>5</dadjokechance>
		<logger>false</logger>
		<admin>username</admin>
		<rcrover>false</rcrover>
	</bot> 
	-->
</config>